.cards {
    display: flex;
    justify-content: center;
    align-items: center ;
}

.card {
    width: 90px;
    height: 130px;
    border: 5px #222 solid;
    border-radius: 12px;
    margin: 12px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    background: radial-gradient(#000,rgb(136, 18, 67),rgb(85, 11, 85),rgb(39, 5, 39));
}

.selected {
    box-shadow: 0 0 50px red;
}

.tarotcard {
    width: 180px;
    height: 290px;
    border: 3px solid #000;
    border-radius: 12px;
    margin: 20px auto;
    background: #fff;
}

.commentTitle {
    font-weight: bold;
    font-size: 26px;
    border-bottom: solid #fff 1px;
}

.tarotcomment {
    width: 300px;
    text-align: left;
}

.tarotName {
    font-weight: bold;
    font-size: 20px;
    color: #000;
    border-top: 1px solid;
}


/* デスクトップ用 */
@media screen and (min-width:480px) {
    .tarottext {
        display: flex;
    }

    .tarotcard {
        /* margin: 20px auto; */
        margin-right: 20px;
    }
}
